<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am currently a first-year B.Tech student. Despite early setbacks in my academic journey, I successfully passed my exams and earned admission to college. Now, I’m dedicated to growing as a developer and tech enthusiast, currently learning Python to enhance my skills.
    </p>

    <p>
      I also have a deep love for <b>photography</b>, <b>cinematography</b>, and enjoy writing my own documentaries. My creativity and determination fuel my pursuit of knowledge and innovation in the tech world.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
