<section class="section featured-projects">
  <div class="section__title">Blog</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://spangled-manatee-c2d.notion.site/Hello-world-121baa989b94807a9a4ac8d255837c01" target="_blank">
                  </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://spangled-manatee-c2d.notion.site/Hello-world-121baa989b94807a9a4ac8d255837c01" target="_blank">Hello World</a>
        </div>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime3.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime4.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://spangled-manatee-c2d.notion.site/Photography-Cinematography-121baa989b9480c5a2beda2a449a75e8?pvs=25" target="_blank">Photography | Cinematography</a>
        </div>
      </figcaption>
    </div>

  </div>
</section>
